.Chatmain
  .RightHeader
    .RightHeader__group
      .RightHeader__groupname
        test
      %ul.RightHeader__groupmenberlist
        menber:
        %li.RightHeader__groupmenber
          masa
    = link_to '#' ,class: "RightHeader__editbtn" do
      Edit
    
  .Message
    .Message__box
      .Message__list
        .Message__name
          masa 
        .Message__time
          2019/11/20(wed)17:23:32
      .Message__coment
        おはよう！
  
    .Message__box
      .Message__list
        .Message__name
          masa 
        .Message__time
          2019/11/21(wed)17:23:32
      .Message__coment
        こんにちは
  
  .MessageForm
    %form.MessageForm__group
      .MessageForm__list
        %input.MessageForm__input{type: 'text', placeholder: 'type a message'}
        %label.MessageForm__image
          =icon('far', 'image')
      %input.MessageForm__post{type: 'submit', value: 'Send'}