.Message__box
  .Message-list
    .Message__name
      = message.user.name
    .Message__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Message__coment
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?

